/* RECETEI DE STYLES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*FIN RECETEO */
/*-------------------------------------------------------------------------------------------------*/
/* ESTILO DE TODA LA PAGINA PRINCIPAL, INCLUIDO MENUBAR. */
body{
    background-color: #f0f0f0;
}
/*Esto es la cabecera*/
header{
    background-color: #333; /* Color de fondo de la barra de navegación */
    color: white;
    padding: 10px 0;
}
.barra{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav ul li {
    position: relative; /* Para posicionar los submenús */
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px;
    display: block;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}
nav ul ul li {
    margin-bottom: 5px;
}
nav ul ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.3s;
}
nav ul ul li a:hover {
    background-color: #555;
}
nav ul li:hover > ul {
    display: block;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* FIN ESTILO PRINCIPAL*/
/*-------------------------------------------------------------------------------------------------*/
/* Estilos para el Carousel */
.slider-box{
    width: 1000px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}
.slider-box ul{
    display: flex;
    pad: 0;
    width: 300%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}
.slider-box img{
    width: 80%;
}
.ver-mas{
    display: block;
    text-align: center;
    margin-top: 20px;
    counter-reset: #333;
    text-decoration: none;
    font-size: 18px;
}
.ver-mas:hover{
    color: #555;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-8%); 
    }
    30% {
        transform: translateX(-8%);
    }
    40% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-25%);
    }
    60% {
        transform: translateX(-42%);
    }
    70% {
        transform: translateX(-42%);
    }
    80% {
        transform: translateX(-57%);
    }
    90% {
        transform: translateX(-57%);
    }
    100% {
        transform: translateX(-73%);
    }
    100% {
        transform: translateX(-73%);
    }
}
/*FIN Estilos para el Carousel */
/*-------------------------------------------------------------------------------------------------*/
